name: Update Scrum Classes
on:
  schedule: # Run workflow automatically
    - cron: '18 18 * * *' 
  workflow_dispatch:
  
jobs:
  update-readme-with-scrumclasses:
    name: Update GitHub profile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - name: Update classes on GitHub profile
        uses: jessehouwing/jessehouwing/.github/actions/update-scrum-classes@main
        with:
          trainer_id: 76
          user_agent: 'JesseHouwingScript'
  update-blog-with-scrumclasses:
    runs-on: ubuntu-latest
    name: Update Ghost Blog
    steps:
      - name: Update classes on Ghost Blog
        uses: jessehouwing/jessehouwing/.github/actions/update-scrum-classes-on-ghost@main
        with:
          trainer_id: 76
          user_agent: 'JesseHouwingScript'
          ghost_token: ${{ secrets.GHOST_TOKEN }}
